<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= Spree.t("spree_call_me.admin.create") %></h1>

<%= render 'form' %>

<%= link_to Spree.t("spree_call_me.admin.back"), admin_callback_index_path %>
